public net.minecraft.client.resources.sounds.SimpleSoundInstance

# AABB
public-f net.minecraft.world.phys.AABB minX
public-f net.minecraft.world.phys.AABB minY
public-f net.minecraft.world.phys.AABB minZ
public-f net.minecraft.world.phys.AABB maxX
public-f net.minecraft.world.phys.AABB maxY
public-f net.minecraft.world.phys.AABB maxZ


# GameRenderer
public net.minecraft.client.renderer.GameRenderer getFov(Lnet/minecraft/client/Camera;FZ)D # getFov
